body { 
    background: -webkit-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%);
    background:    -moz-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); 
    background:     -ms-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); 
    background:      -o-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); 
    background:         linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); 
    font-family: 'Raleway', sans-serif; 
    font-size: 20px; 
  }

